bin
dist
__pycache__
generated_media
site-packages
projects
node_modules
g4f.egg-info
models
pyvenv.cfg
lib64
/.idea
container/
g4f.dev
g4f.exe
har_and_cookies
playground
.vscode
build/lib/g4f/__init__.py
build/lib/g4f/__main__.py
build/lib/g4f/config.py
build/lib/g4f/cookies.py
build/lib/g4f/debug.py
build/lib/g4f/errors.py
build/lib/g4f/files.py
build/lib/g4f/models.py
build/lib/g4f/tray.py
build/lib/g4f/typing.py
build/lib/g4f/version.py
build/lib/g4f/Provider/__init__.py
build/lib/g4f/Provider/base_provider.py
build/lib/g4f/Provider/BraveSearch.py
build/lib/g4f/Provider/ChatGptOss.py
build/lib/g4f/Provider/Cloudflare.py
build/lib/g4f/Provider/Copilot.py
build/lib/g4f/Provider/CopilotApp.py
build/lib/g4f/Provider/CopilotSession.py
build/lib/g4f/Provider/DeepAI.py
build/lib/g4f/Provider/DeepInfra.py
build/lib/g4f/Provider/helper.py
build/lib/g4f/Provider/OperaAria.py
build/lib/g4f/Provider/Perplexity.py
build/lib/g4f/Provider/PhindAi.py
build/lib/g4f/Provider/Pollinations.py
build/lib/g4f/Provider/PollinationsImage.py
build/lib/g4f/Provider/Quillbot.py
build/lib/g4f/Provider/Qwen.py
build/lib/g4f/Provider/TeachAnything.py
build/lib/g4f/Provider/Yqcloud.py
build/lib/g4f/Provider/Yupp.py
build/lib/g4f/Provider/audio/__init__.py
build/lib/g4f/Provider/audio/EdgeTTS.py
build/lib/g4f/Provider/audio/ElevenLabs.py
build/lib/g4f/Provider/audio/gTTS.py
build/lib/g4f/Provider/audio/MarkItDown.py
build/lib/g4f/Provider/audio/OpenAIFM.py
build/lib/g4f/Provider/audio/PollinationsAudio.py
build/lib/g4f/Provider/github/__init__.py
build/lib/g4f/Provider/github/copilotTokenProvider.py
build/lib/g4f/Provider/github/GithubCopilot.py
build/lib/g4f/Provider/github/githubOAuth2.py
build/lib/g4f/Provider/github/oauthFlow.py
build/lib/g4f/Provider/github/sharedTokenManager.py
build/lib/g4f/Provider/github/stubs.py
build/lib/g4f/Provider/glm/__init__.py
build/lib/g4f/Provider/glm/AliyunCaptcha.js.txt
build/lib/g4f/Provider/glm/captcha_solver.py
build/lib/g4f/Provider/hf_space/__init__.py
build/lib/g4f/Provider/hf_space/BlackForestLabs_Flux1Dev.py
build/lib/g4f/Provider/hf_space/BlackForestLabs_Flux1KontextDev.py
build/lib/g4f/Provider/hf_space/CohereForAI_C4AI_Command.py
build/lib/g4f/Provider/hf_space/raise_for_status.py
build/lib/g4f/Provider/hf_space/StabilityAI_SD35Large.py
build/lib/g4f/Provider/hf_space/utils.py
build/lib/g4f/Provider/local/__init__.py
build/lib/g4f/Provider/local/Local.py
build/lib/g4f/Provider/local/Ollama.py
build/lib/g4f/Provider/needs_auth/__init__.py
build/lib/g4f/Provider/needs_auth/AIBadgr.py
build/lib/g4f/Provider/needs_auth/Airforce.py
build/lib/g4f/Provider/needs_auth/Anthropic.py
build/lib/g4f/Provider/needs_auth/Antigravity.py
build/lib/g4f/Provider/needs_auth/Azure.py
build/lib/g4f/Provider/needs_auth/BingCreateImages.py
build/lib/g4f/Provider/needs_auth/BlackboxPro.py
build/lib/g4f/Provider/needs_auth/CablyAI.py
build/lib/g4f/Provider/needs_auth/Cerebras.py
build/lib/g4f/Provider/needs_auth/Claude.py
build/lib/g4f/Provider/needs_auth/Cohere.py
build/lib/g4f/Provider/needs_auth/CopilotAccount.py
build/lib/g4f/Provider/needs_auth/Custom.py
build/lib/g4f/Provider/needs_auth/DeepSeek.py
build/lib/g4f/Provider/needs_auth/FenayAI.py
build/lib/g4f/Provider/needs_auth/gemini_utils.py
build/lib/g4f/Provider/needs_auth/Gemini.py
build/lib/g4f/Provider/needs_auth/GeminiCLI.py
build/lib/g4f/Provider/needs_auth/GeminiPro.py
build/lib/g4f/Provider/needs_auth/GigaChat.py
build/lib/g4f/Provider/needs_auth/GithubCopilot.py
build/lib/g4f/Provider/needs_auth/GithubCopilotAPI.py
build/lib/g4f/Provider/needs_auth/GlhfChat.py
build/lib/g4f/Provider/needs_auth/Grok.py
build/lib/g4f/Provider/needs_auth/Groq.py
build/lib/g4f/Provider/needs_auth/LLMPlayground.py
build/lib/g4f/Provider/needs_auth/LMArena.py
build/lib/g4f/Provider/needs_auth/MetaAI.py
build/lib/g4f/Provider/needs_auth/MetaAIAccount.py
build/lib/g4f/Provider/needs_auth/MicrosoftDesigner.py
build/lib/g4f/Provider/needs_auth/Nvidia.py
build/lib/g4f/Provider/needs_auth/OpenaiAccount.py
build/lib/g4f/Provider/needs_auth/OpenaiAPI.py
build/lib/g4f/Provider/needs_auth/OpenaiChat.py
build/lib/g4f/Provider/needs_auth/OpenRouter.py
build/lib/g4f/Provider/needs_auth/PerplexityApi.py
build/lib/g4f/Provider/needs_auth/Pi.py
build/lib/g4f/Provider/needs_auth/Puter.py
build/lib/g4f/Provider/needs_auth/Reka.py
build/lib/g4f/Provider/needs_auth/Replicate.py
build/lib/g4f/Provider/needs_auth/ThebApi.py
build/lib/g4f/Provider/needs_auth/Together.py
build/lib/g4f/Provider/needs_auth/Video.py
build/lib/g4f/Provider/needs_auth/WhiteRabbitNeo.py
build/lib/g4f/Provider/needs_auth/xAI.py
build/lib/g4f/Provider/needs_auth/You.py
build/lib/g4f/Provider/needs_auth/bing/__init__.py
build/lib/g4f/Provider/needs_auth/bing/create_images.py
build/lib/g4f/Provider/needs_auth/deepseek/pow_solver.wasm
build/lib/g4f/Provider/needs_auth/hf/__init__.py
build/lib/g4f/Provider/needs_auth/hf/HuggingChat.py
build/lib/g4f/Provider/needs_auth/hf/HuggingFaceMedia.py
build/lib/g4f/Provider/needs_auth/hf/models.py
build/lib/g4f/Provider/needs_auth/mini_max/__init__.py
build/lib/g4f/Provider/needs_auth/mini_max/crypt.py
build/lib/g4f/Provider/needs_auth/mini_max/HailuoAI.py
build/lib/g4f/Provider/needs_auth/mini_max/MiniMax.py
build/lib/g4f/Provider/openai/__init__.py
build/lib/g4f/Provider/openai/crypt.py
build/lib/g4f/Provider/openai/har_file.py
build/lib/g4f/Provider/openai/models.py
build/lib/g4f/Provider/openai/new.py
build/lib/g4f/Provider/openai/proofofwork.py
build/lib/g4f/Provider/qwen/__init__.py
build/lib/g4f/Provider/qwen/cookie_generator.py
build/lib/g4f/Provider/qwen/fingerprint.py
build/lib/g4f/Provider/qwen/generate_ua.py
build/lib/g4f/Provider/qwen/oauthFlow.py
build/lib/g4f/Provider/qwen/QwenCode.py
build/lib/g4f/Provider/qwen/qwenContentGenerator.py
build/lib/g4f/Provider/qwen/qwenOAuth2.py
build/lib/g4f/Provider/qwen/sharedTokenManager.py
build/lib/g4f/Provider/qwen/stubs.py
build/lib/g4f/Provider/search/__init__.py
build/lib/g4f/Provider/search/CachedSearch.py
build/lib/g4f/Provider/search/DDGS.py
build/lib/g4f/Provider/search/GoogleSearch.py
build/lib/g4f/Provider/search/SearXNG.py
build/lib/g4f/Provider/search/YouTube.py
build/lib/g4f/Provider/template/__init__.py
build/lib/g4f/Provider/template/BackendApi.py
build/lib/g4f/Provider/template/OpenaiTemplate.py
build/lib/g4f/Provider/yupp/__init__.py
build/lib/g4f/Provider/yupp/constants.py
build/lib/g4f/Provider/yupp/models.py
build/lib/g4f/Provider/yupp/token_extractor.py
build/lib/g4f/api/__init__.py
build/lib/g4f/api/_logging.py
build/lib/g4f/api/_tokenizer.py
build/lib/g4f/api/run.py
build/lib/g4f/api/stubs.py
build/lib/g4f/api/tool_loop_detection.py
build/lib/g4f/cli/__init__.py
build/lib/g4f/cli/__main__.py
build/lib/g4f/cli/client.py
build/lib/g4f/client/__init__.py
build/lib/g4f/client/factory.py
build/lib/g4f/client/helper.py
build/lib/g4f/client/models.py
build/lib/g4f/client/service.py
build/lib/g4f/client/stubs.py
build/lib/g4f/client/types.py
build/lib/g4f/gui/__init__.py
build/lib/g4f/gui/gui_parser.py
build/lib/g4f/gui/run.py
build/lib/g4f/gui/webview.py
build/lib/g4f/gui/server/__init__.py
build/lib/g4f/gui/server/api.py
build/lib/g4f/gui/server/app.py
build/lib/g4f/gui/server/backend_api.py
build/lib/g4f/gui/server/config.py
build/lib/g4f/gui/server/crypto.py
build/lib/g4f/gui/server/internet.py
build/lib/g4f/gui/server/js_api.py
build/lib/g4f/gui/server/website.py
build/lib/g4f/image/__init__.py
build/lib/g4f/image/copy_images.py
build/lib/g4f/integration/__init__.py
build/lib/g4f/integration/langchain.py
build/lib/g4f/integration/pydantic_ai.py
build/lib/g4f/integration/markitdown/__init__.py
build/lib/g4f/integration/markitdown/_audio_converter.py
build/lib/g4f/integration/markitdown/_base_converter.py
build/lib/g4f/integration/markitdown/_image_converter.py
build/lib/g4f/integration/markitdown/_llm_caption.py
build/lib/g4f/integration/markitdown/_transcribe_audio.py
build/lib/g4f/integration/markitdown/_youtube_converter.py
build/lib/g4f/local/__init__.py
build/lib/g4f/locals/__init__.py
build/lib/g4f/locals/models.py
build/lib/g4f/locals/provider.py
build/lib/g4f/mcp/__init__.py
build/lib/g4f/mcp/__main__.py
build/lib/g4f/mcp/apply_patch.py
build/lib/g4f/mcp/pa_downloader.py
build/lib/g4f/mcp/pa_provider.py
build/lib/g4f/mcp/server.py
build/lib/g4f/mcp/tools.py
build/lib/g4f/providers/__init__.py
build/lib/g4f/providers/any_model_map.py
build/lib/g4f/providers/any_provider.py
build/lib/g4f/providers/asyncio.py
build/lib/g4f/providers/base_provider.py
build/lib/g4f/providers/cache.py
build/lib/g4f/providers/config_provider.py
build/lib/g4f/providers/create_images.py
build/lib/g4f/providers/helper.py
build/lib/g4f/providers/response.py
build/lib/g4f/providers/retry_provider.py
build/lib/g4f/providers/tool_support.py
build/lib/g4f/providers/types.py
build/lib/g4f/requests/__init__.py
build/lib/g4f/requests/aiohttp.py
build/lib/g4f/requests/cdp.py
build/lib/g4f/requests/curl_cffi.py
build/lib/g4f/requests/defaults.py
build/lib/g4f/requests/raise_for_status.py
build/lib/g4f/tools/__init__.py
build/lib/g4f/tools/auth.py
build/lib/g4f/tools/fetch_and_scrape.py
build/lib/g4f/tools/files.py
build/lib/g4f/tools/media.py
build/lib/g4f/tools/optimize_request.py
build/lib/g4f/tools/run_tools.py
build/lib/g4f/tools/token_optimizer.py
build/lib/g4f/tools/web_search.py
