requests
pycryptodome
curl_cffi>=0.5.10
aiohttp
certifi
browser_cookie3
websockets
js2py
typing-extensions
PyExecJS
duckduckgo-search
nest_asyncio
waitress
werkzeug
loguru
pillow
platformdirs
numpy
asgiref
fastapi
uvicorn
flask
py-arkose-generator
asyncstdlib
async-property
undetected-chromedriver
asyncstdlib
async_property
bs4
