requests
pycryptodome
curl_cffi>=0.6.2
aiohttp
certifi
browser_cookie3
PyExecJS
duckduckgo-search>=5.0
nest_asyncio
werkzeug
loguru
pillow
platformdirs
fastapi
uvicorn
flask
brotli
beautifulsoup4
aiohttp_socks
gpt4all
pywebview
plyer
cryptography