requests
pycryptodome
curl_cffi>=0.6.2
aiohttp
certifi
duckduckgo-search>=6.3.7
nest_asyncio
werkzeug
pillow
fastapi
uvicorn
flask
brotli
beautifulsoup4
aiohttp_socks
cryptography
python-multipart
pypdf2