requests
pycryptodome
curl_cffi>=0.6.2
aiohttp
certifi
browser_cookie3
nest-asyncio2
werkzeug
pillow
platformdirs
fastapi
uvicorn
flask
brotli
beautifulsoup4
setuptools
python-multipart
a2wsgi
python-dotenv
ddgs
cloudscraper